<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.module.css">
    <link rel="stylesheet" href="css/active.css">
    <title>Login</title>
</head>

<body>
    <div class="heading-div">
        <P class="heading">Active Quizzes</P>
    </div>

    <div class="quiz-container">
        <div class="quiz">
            <p class="quiz-name">Quiz Name</p>
            <p class="quiz-id">UID</p>
        </div>

        <div class="close-btn">
            <!-- HTML !-->
            <button class="button-6" role="button">Close Quiz</button>
        </div>
    </div>
</body>
</html>