<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.module.css">
    <title>Login</title>
</head>

<body>
    <div class="signin">
        <% if(register==='res')  { %> 
        <div class="alert alert-success" style="color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc; padding: 10px 20px; border-radius: 6px;" role="alert">
            Your are Succesfully Registered
        </div>
        <% } %> 
        <form action="/login" method="post">

            <div class="group head">

                <h2>Welcome Back,</h2>

                <p>Sign In To Continue</p>

            </div>

            <div class="group">

                <label for="username-field">Email or Username</label><br>

                <input type="text" name="username" id="username-field" required>

            </div>

            <div class="group">

                <label for="password-field">Password</label><br>

                <input type="password" name="password" id="password-field" required>

                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

            </div>

            <div class="group forgot-pass-link">

                <a href="#">Forget Password?</a>

            </div>

            <div class="group">

                <button type="submit"><span>Login</span></button>

            </div>
            <div class="group">

                <button><span>SignIn with Google</span></button>

            </div>

            <div class="group sign-up-link">

                <p>New User? <a href="/register">Signup</a></p>

            </div>

        </form>

    </div>
</body>
<!-- <script src="script.js"></script> -->
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-app.js'

    // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
    import { analytics } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-analytics.js'

    // Add Firebase products that you want to use
    import { auth } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-auth.js'
    import { firestore } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-firestore.js'
  </script>

</html>